<!-- <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile colspan="2" rowspan="4" style.background="lightblue">
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="4" style.background="lightgreen">
            
        </mat-grid-tile>
</mat-grid-list> -->


<mat-horizontal-stepper class="register-stepper" labelPosition="bottom" linear #stepper>
    <mat-step [stepControl]="creditialForm" >
        <ng-template matStepLabel>Enter Creditials</ng-template>
        <!-- <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview ">
                <img [src]="imagePreview" >
        </div> -->
        <creditial-step (changeCreditials)='onCreditialsChange($event)'> </creditial-step>
    </mat-step>


    <mat-step [stepControl]="hashForm" >
            <ng-template matStepLabel >Generate Unique Hash</ng-template>
            <hash-step (hash)='onHash($event)'></hash-step>
    </mat-step>
    
    <mat-step>
        <ng-template matStepLabel>Register</ng-template>

        <confirm-step></confirm-step>

    </mat-step>

</mat-horizontal-stepper>
