
    <mat-sidenav #start >
        <button mat-icon-button (click)="start.close()">
                <mat-icon>menu</mat-icon>
        </button>
        <mat-nav-list *ngFor="let list of lists">
            <a mat-list-item routerLink="/{{list.path}}" >
              <mat-icon>{{list.icon}}</mat-icon>
              <span>{{list.name}}</span>
            </a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button (click)="start.open()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>