


<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
    <p>
          <a href="https://metamask.io/" target="_blank" rel="noopener noreferrer">MetaMask</a>
            &nbsp;is a wallet and Chrome extension that allows you to make Ethereum
            transactions from regular websites.
           </p>
           <p>In order to register your asset on the blockchain, you need to have
           it installed.
           </p>
           <br />

</div>
<div mat-dialog-actions>
  <button mat-button color="secondary" (click)="openWebStore()">Install MetaMask Now</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="onNoClick()">Cancel</button>
</div>