<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon >folder_open</mat-icon>
      <br /> YOUR ASSETS
    </ng-template>
    <your-assets></your-assets>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon >cloud_upload</mat-icon>
      <br /> LATEST UPLOADS
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon >alarm</mat-icon>
      <br />PENDING TX
    </ng-template>
    Content 3
  </mat-tab>
</mat-tab-group>